@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.App {
	display: flex;
	min-height: 100vh;
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
	font-family: 'Josefin Sans', sans-serif;
	color: #dadada;
}

.fs {
	font-size: 5rem;
}

.btn-style:hover {
	background-color: #ff8080;
}