@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.App {
	display: flex;
	min-height: 100vh;
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
	font-family: 'Josefin Sans', sans-serif;
	color: #dadada;
}

.fs {
	font-size: 5rem;
}

.btn-style:hover {
	background-color: #ff8080;
}

.hide-arrow::after {
	display: none;
}

.btn-notification{
	background-color: transparent;
}

.search-stack{
	height: 70px;
	background: var(--bs-gray-300);
	color: #00000b;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-stack:hover{
	background: var(--bs-gray-500);
}